/* Селектор тешу (типу) - 0001 */
h1 {
  color: blue;
}



/* Селектор класу 0010 */
.annotation {
font-size: 10px;  
}

p {
  font-size: 20px;
}

/* Селектор ідентітфікатора 0100 */
#subscribe-btn {
  color: red;
}

/* subscribe-btn : kebab-case
subscrabeBtn  : camelCase (
                lowerCamelCase
                UpperCamelCase (PascalCase)
              )
subscrabe_btn : snake_case
I_AM_CONSTATNT
*/



/* 
каскадність - якщо одна і та сама властивість визначена для одного і того самого селектора, то пріорітетна та, що оголошена останньою
 */

 /* спеціфічність (вага) якщо одна і та сама властивість записана в різних по спеціфічності селектроах, то приоритетніша в селекторі з більшою спеціфічністю*/