/* Блокова модель */

p {
  width: 200px;
  height: 300px;
  /* background-color: blanchedalmond; */
  border: 1px solid red;
  padding: 20px;
  margin: 10px;
  /* display: inline; */
}




















/* приклад */
a {
  color: inherit;
  text-decoration: none;
}


.nav-link-item {
  display: inline;
  color: inherit;
}

